body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(-45deg, #0041a2, #0056b3, #0073e6, #0041a2, rgb(57, 45, 106));
    background-size: 400% 400%;
    animation: gradientMagic 15s ease infinite;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientMagic {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 70vw;
    border-radius: 30px;
    background: #0041a2;
    /* Slightly transparent white background */
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(27, 11, 255, 0.25), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.center:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35), 0 0 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.video-box video {
    border-radius: 20px;
    flex: 1;
    margin-left: 60px;
}

.info-box {
    flex: 2;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background: #f8f9fa;
    /* Light background for the form */
    color: black;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
}

.paragraph {
    font-weight: 600;
    font-size: 1.5rem;
}

.space {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 20px;
    }

    .video-box video {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .info-box {
        width: 100%;
        margin: 0;
    }
}

/* Additional styles for form elements */
.form-control,
.form-check-label,
.btn {
    font-size: 0.9rem;
    padding: 6px 10px;
}

.form-control {
    height: 30px;
    font-size: 0.65rem;
    padding: 2px 4px;
}

.form-label {
    font-size: 0.85rem;
}

.btn {
    font-size: 0.9rem;
    padding: 8px;
    height: 35px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .info-box {
        margin-top: 20px;
    }
}

/* Eye button styles */
.eyesbutton,
.eyesbutton:focus {
    border: none;
    background: transparent;
    padding: 0 8px;
    width: auto;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}